* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    color:rgb(189, 216, 216);
}


img{
    display:inline;
}


.banner{
    width: 100%;
}

.banner img{
    width: 100%;
    height: auto;
    display: block;
}